<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form name="form1" novalidate onsubmit="checkForm(); return false;">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" name="email">
            <!-- <% if(typeof email!=="undefined" ){ %>
                <small class="form-text">
                    <%= email %>
                </small>
                <% } %> -->
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                name="password">
            <!-- <% if(locals.password){ %>
                <small class="form-text">
                    <%= password %>
                </small>
                <% } %> -->
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="cbox">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="info">

    </div>

    <script src="/lib/jquery-3.6.0.min.js"></script>
    <script>
        function checkForm() {
            $.post("/try-post", $(document.form1).serialize(), function (data) {
                console.log(data)
                $("#info").text(data), "json"
            })
        }

    </script>
</body>

</html>